In [34]:
# importantdo biblioteca
import pandas as pd

In [35]:
# carregando arquivo
iris = pd.read_csv(r"iris_csv.csv")

In [36]:
# visualizando as primeiras linhas do dataframe
iris.head()

   id  sepallength  sepalwidth  petallength  petalwidth        class
0   0          5.1         3.5          1.4         0.2  Iris-setosa
1   1          4.9         3.0          1.4         0.2  Iris-setosa
2   2          4.7         3.2          1.3         0.2  Iris-setosa
3   3          4.6         3.1          1.5         0.2  Iris-setosa
4   4          5.0         3.6          1.4         0.2  Iris-setosa

In [37]:
# visualizando as ultimas linhas do dataframe
iris.tail()

      id  sepallength  sepalwidth  petallength  petalwidth           class
145  145          6.7         3.0          5.2         2.3  Iris-virginica
146  146          6.3         2.5          5.0         1.9  Iris-virginica
147  147          6.5         3.0          5.2         2.0  Iris-virginica
148  148          6.2         3.4          5.4         2.3  Iris-virginica
149  149          5.9         3.0          5.1         1.8  Iris-virginica

In [38]:
# visualizando as ultimas 10 linhas do dataframe
iris.tail(10)

      id  sepallength  sepalwidth  petallength  petalwidth           class
140  140          6.7         3.1          5.6         2.4  Iris-virginica
141  141          6.9         3.1          5.1         2.3  Iris-virginica
142  142          5.8         2.7          5.1         1.9  Iris-virginica
143  143          6.8         3.2          5.9         2.3  Iris-virginica
144  144          6.7         3.3          5.7         2.5  Iris-virginica
145  145          6.7         3.0          5.2         2.3  Iris-virginica
146  146          6.3         2.5          5.0         1.9  Iris-virginica
147  147          6.5         3.0          5.2         2.0  Iris-virginica
148  148          6.2         3.4          5.4         2.3  Iris-virginica
149  149          5.9         3.0          5.1         1.8  Iris-virginica

In [39]:
# exibindo informações sobre o dataframe
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           150 non-null    int64
 1   sepallength  150 non-null    float64
 2   sepalwidth   150 non-null    float64
 3   petallength  150 non-null    float64
 4   petalwidth   150 non-null    float64
 5   class        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [40]:
# verificando se há columas vazias
iris.isna().sum()

id             0
sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

In [41]:
# verificando os tipos das colunas
iris.dtypes

id               int64
sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
class           object
dtype: object

In [42]:
iris['petalwidth']

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petalwidth, Length: 150, dtype: float64

In [43]:
# Filtrandro flores com pétala maior que 1.5
grupo_A = iris[iris['petalwidth']>1.5]

In [44]:
grupo_A.head()

    id  sepallength  sepalwidth  petallength  petalwidth            class
56  56          6.3         3.3          4.7         1.6  Iris-versicolor
70  70          5.9         3.2          4.8         1.8  Iris-versicolor
77  77          6.7         3.0          5.0         1.7  Iris-versicolor
83  83          6.0         2.7          5.1         1.6  Iris-versicolor
85  85          6.0         3.4          4.5         1.6  Iris-versicolor

In [45]:
# trazer linha 0 da tabela
iris.iloc[0]

id                       0
sepallength            5.1
sepalwidth             3.5
petallength            1.4
petalwidth             0.2
class          Iris-setosa
Name: 0, dtype: object

In [46]:
# vai do 0 ao 4... iris.iloc[x:y-1] pega de x a y
iris.iloc[0:5]

   id  sepallength  sepalwidth  petallength  petalwidth        class
0   0          5.1         3.5          1.4         0.2  Iris-setosa
1   1          4.9         3.0          1.4         0.2  Iris-setosa
2   2          4.7         3.2          1.3         0.2  Iris-setosa
3   3          4.6         3.1          1.5         0.2  Iris-setosa
4   4          5.0         3.6          1.4         0.2  Iris-setosa

In [47]:
iris.iloc[0:5, 0:3]

   id  sepallength  sepalwidth
0   0          5.1         3.5
1   1          4.9         3.0
2   2          4.7         3.2
3   3          4.6         3.1
4   4          5.0         3.6

In [48]:
iris.loc[0:5, ['id','class']]

   id        class
0   0  Iris-setosa
1   1  Iris-setosa
2   2  Iris-setosa
3   3  Iris-setosa
4   4  Iris-setosa
5   5  Iris-setosa

In [49]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [51]:
# Esta função mostra estatísticas descritivas, como média, desvio padrão, máximo, mínimo e outras tendências centrais, além da forma da distribuição
iris.describe()

               id  sepallength  sepalwidth  petallength  petalwidth
count  150.000000   150.000000  150.000000   150.000000  150.000000
mean    74.500000     5.843333    3.054000     3.758667    1.198667
std     43.445368     0.828066    0.433594     1.764420    0.763161
min      0.000000     4.300000    2.000000     1.000000    0.100000
25%     37.250000     5.100000    2.800000     1.600000    0.300000
50%     74.500000     5.800000    3.000000     4.350000    1.300000
75%    111.750000     6.400000    3.300000     5.100000    1.800000
max    149.000000     7.900000    4.400000     6.900000    2.500000

In [55]:
# verificando as classes unicas do dataframe
iris['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [53]:
# contando quantos valores tem em cada classe
iris['class'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

In [56]:
# verificando o nomes das colunas
iris.columns

Index(['id', 'sepallength', 'sepalwidth', 'petallength', 'petalwidth',
       'class'],
      dtype='object')

In [57]:
# renomeando uma coluna do df
iris.rename(columns={'sepallength':'Sepal.Length.Cm'}, inplace=True)

In [58]:
#visualizando o resultado
iris.head()

   id  Sepal.Length.Cm  sepalwidth  petallength  petalwidth        class
0   0              5.1         3.5          1.4         0.2  Iris-setosa
1   1              4.9         3.0          1.4         0.2  Iris-setosa
2   2              4.7         3.2          1.3         0.2  Iris-setosa
3   3              4.6         3.1          1.5         0.2  Iris-setosa
4   4              5.0         3.6          1.4         0.2  Iris-setosa