### Pivot Table

A pivot table é uma ferramenta indispensável quando você precisa resumir, explorar e analisar dados complexos. Ela é especialmente útil quando você tem grandes conjuntos de dados e deseja extrair insights relevantes. Vamos ilustrar isso com um exemplo.

In [1]:
# importantdo a biblioteca

import pandas as pd

In [2]:
# criando um DataFrame de exemplo

dados = {
    'Loja':['Loja A', 'Loja B', 'Loja A', 'Loja B', 'Loja A', 'Loja B'],
    'Produto': ['Produto 1', 'Produto 1', 'Produto 2', 'Produto 2', 'Produto 1', 'Produto 2'],
    'Vendas': [10,20,15,25,20,30]
}

In [3]:
# transformando em um dataframe

df = pd.DataFrame(dados)

In [4]:
# Imprimir o DataFrame original

print("DataFrame original:")
print(df)

DataFrame original:
     Loja    Produto  Vendas
0  Loja A  Produto 1      10
1  Loja B  Produto 1      20
2  Loja A  Produto 2      15
3  Loja B  Produto 2      25
4  Loja A  Produto 1      20
5  Loja B  Produto 2      30

In [9]:
# Criar a pivot table no Pandas

pivot_table = df.pivot_table(values='Vendas', index='Loja', columns='Produto', aggfunc='sum')

Após aplicar a função Pivot Table do pandas no DataFrame original, conseguimos uma nova tabela que nos fornece um resumo mais acessível dos dados. Esta tabela pivotada é organizada de maneira que cada linha representa uma loja e cada coluna representa um produto. As células da tabela são preenchidas com a soma total das vendas de cada produto em cada loja.

In [7]:
# Imprimir a pivot table no Pandas

print("\nPivot Table:")
print(pivot_table)

Pivot Table:
Produto  Produto 1  Produto 2
Loja
Loja A          30         15
Loja B          20         55